<div class="form-wrapper">
  <form class="todo-form" [formGroup]="todoForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>ID ответственного:</mat-label>
      <input matInput type="number" formControlName="userId">
    </mat-form-field>
<mat-form-field>
  <mat-label>Описание задачи</mat-label>
  <input matInput type="text" formControlName="title">
</mat-form-field>
<mat-form-field>
  <mat-label>Статус задачи</mat-label>
  <mat-select formControlName="completed">
    <mat-option [value]="true">Выполнена</mat-option>
    <mat-option [value]="false">Не выполнена</mat-option>
  </mat-select>
</mat-form-field>
  <button class="form-button" mat-flat-button >Создать задачу</button>
  </form>
</div>
