<mat-card shadowbox>
  <mat-card-header>
    USER INFO
  </mat-card-header>
  <mat-card-title> Имя пользователя: {{ user.name | customUpperCase }}</mat-card-title>
  <mat-card-content>
    <p brown>📧 {{ user.email }}</p>
    <p brown>📞 {{ user.website }}</p>
    <p brown>🌐 {{ user.company.name }}</p>
    <p brown> {{ user.phone | deleteDash }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="(user$ | async)?.role === 'admin'">
    <button brown (click)= "onDeleteUser(user.id)" mat-button="elevated">Удалить пользователя</button>
    <button brown (click)= "openDialog()" mat-button="elevated">Редактировать пользователя</button>
  </mat-card-actions>
</mat-card>
