@use '../styles.scss' as *;

.header{
  display: flex;
}

.header-wrapper{
max-height: 100%;
  max-width: 100%;
width: 1920px;
  display: flex;
  flex-direction: column;

}

.header-top{
  display: flex;
  height: 80px;
  background-color: #4B565E;
  &-wrapper{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
  }
  &-description{
    width: 755px;
    display: flex;
    align-items: center;
    gap: 39px;
    color: white;
  }
  &-info{
    width: 685px;
    display: flex;
    align-items: center;
    gap: 35px;
    padding-left: 40px;
    &-call{
      display: flex;
      gap: 10px;
      align-items: center;
      color: white;
    }
  }
}

.cart{
  @include clear-button;
display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #F0BA4E;
  border-radius: 50px;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  &-text{
    font-family: Inter, Arial, sans-serif;
    font-size: 19px;
    color: white;
    margin: 0;
    padding: 0;
  }
}

.header-bottom{
  height: 48px;
  background-color: #F0BA4E;
  max-width: 100%;
  &-wrapper{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
  }
&-text{
  display: flex;
}
}
