<header class="header">
<div class="header-wrapper">
    <div class="header-top">
<div class="header-top-wrapper">
  <div class="header-top-description">
    <img class="logo" src="./assets/logo.svg" alt="">
    <span>Главная</span>
    <span>О компании</span>
    <span>Каталог</span>
  </div>
  <div class="header-top-info">
<div class="header-top-info-call">
  <img class="phone" src="./assets/phone.svg" alt="">
  <span class="number">+7 (965) 084-29-29</span>
</div>
    <img class="heart" src="./assets/heart.svg" alt="">
    <button class="cart">
      <img src="./assets/cart.svg" alt="">
      <span class="cart-text">Пусто</span>
    </button>
  </div>
</div>

  </div>
  <div class="header-bottom">
<div class="header-bottom-wrapper">
  <div class="header-bottom-text">
    <div style="display: flex; align-items: center; gap: 10px">
      <img src="./assets/strings.svg" alt="">
      Каталог</div>
    <span>Стройматериалы</span>
    <span>Инструменты</span>
    <span>Электрика</span>
    <span>Интерьер и одежда</span>
  </div>
  <div class="header-bottom-search">
    <input class="header-bottom-search-input" type="text" placeholder="Поиск, например Круг зачистной">
    <a href="./assets/lupa.svg"></a>
  </div>
  <div class="header-bottom-location">
    <img src="./assets/map-pin.svg" alt="">
    <span>Москва</span>
  </div>
</div>
</div>
  </div>
</header>
<img src="./assets/banner.svg" alt="">
<div class="add">
  <img  src="assets/advert.svg" alt="">
</div>


