<header class="header">
<div class="header-wrapper">
    <div class="header-top">
<div class="header-top-wrapper">
  <nav class="header-top-description">
    <img class="logo" src="./assets/logo.svg" alt="">
    <a [routerLink]="['main-page']">{{ headerItem1 }}</a>
    <span>{{ aboutCompany }}</span>
    <span *ngIf="isShowCatalog">{{ headerItem3 }}</span>
    <button [class.dark-theme]="isDarkMode" (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
    <div>{{ date | date:'medium' }}</div>
    <button mat-button style="color:#F0BA4E") (click)="openDialog()">Войти</button>
    <a [routerLink]="['admin']">Админ-панель</a>
    <a [routerLink]="['users']">
      Пользователи
    </a>
    <a [routerLink]="['todos']">
      Задачи
    </a>
    <span>{{ counter }}</span>
    <button [class.dark-theme]="isDarkMode" (click)=changeColor()> {{ colors[currentColorIndex] }}</button>
  </nav>
  <div class="header-top-info">
    <div class="header-top-info-call">
      <img class="phone" src="./assets/phone.svg" alt="">
      <span class="number">+7 (965) 084-29-29</span>
</div>
    <img class="heart" src="./assets/heart.svg" alt="">
    <button class="cart" shadow>
      <img src="./assets/cart.svg" alt="">
      <span class="cart-text">Пусто</span>
    </button>
  </div>
  <button [class.dark-theme]="isDarkMode" (click)=toggleTheme();>Переключить тему</button>
</div>

  </div>
  <div class="header-bottom">
<div class="header-bottom-wrapper">
  <div class="header-bottom-text">
    <div style="display: flex; align-items: center; gap: 10px">
      <img src="./assets/strings.svg" alt="">
      {{ menuItems[0] }}</div>
    <span>{{ menuItems[1] }}</span>
    <span>{{ menuItems[2] }}</span>
    <span>{{ menuItems[3] }}</span>
    <span>{{ menuItems[4] }}</span>
  </div>
  <a [routerLink]="['email']">
    Почта
  </a>
  <div class="header-bottom-search">
    <input class="header-bottom-search-input" type="text" placeholder="Поиск, например Круг зачистной">
    <a href="./assets/lupa.svg"></a>
  </div>
  <div class="header-bottom-location">
    <img src="./assets/map-pin.svg" alt="">
    <span>Москва</span>
  </div>
</div>
</div>
  </div>
</header>
<router-outlet></router-outlet>

