<div>
  <p>ID ответственного:</p>
  <h3>{{ todo.userId }}</h3>
  <p>Номер задачи:</p>
  <p>📧 {{ todo.id }}</p>
  <p>Описание:</p>
  <p>📞 {{ todo.title | sliceTextPipe}}</p>
  <p>Статус:</p>
  <p>🌐 {{ todo.completed ? 'Выполнена' : 'Не выполнена' }}</p>
  <div *ngIf="(user$ | async)?.role === 'admin'">
    <button (click)= "onDeleteTodo(todo.id)">Удалить задачу</button>
    <button (click)= "onEditTodo()">Редактировать задачу</button>
    <button (click)= "toggleTodo()">Сменить статус задачи</button>
  </div>

</div>
