/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin clear-button {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

@mixin clear-input {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  outline: none;
}

@mixin clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
